@model Project.Web.Areas.Admin.Models.Catalog.ProductModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Products.Products.AddNew")
        </h1>
        <div class="pull-right">
            <button type="submit" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </section>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfiration("product-delete")
